
.panelADiv{
  background: #ffffff;
  padding: 8px;
  .label{
    display: inline-block;
    width: 25%;
  }
  .inputDiv{
    display: inline-block;
    margin-left: 2px;
    width: 70%;
    input{

      border: 0px;outline:none;cursor: pointer;
    }
  }
  .cascadeDiv{
    display: inline-block;
    width: 70%;
    //float: right;
    .ant-cascader-picker{
      width: 100%;
      input{
        border: 0px;outline:none;cursor: pointer;
      }
    }
  }
  .top{display: inline-block;
    .ant-cascader-menus{
      left: 0px !important;
    }
  }
}